# Created by https://www.gitignore.io

### PyCharm ###
.idea

### OSX ###
.DS_Store

# Icon must end with two \r
Icon


# Thumbnails
._*

### Django ###
*.log
*.pot
*.pyc
*.py[cod]
__pycache__/
local_settings.py
venv
.venv
.env
db.sqlite3